body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;     
    height: 100vh;                     
    background-color: #13233f;
    margin: 5%;
}

#geese{
    max-width: 50%;
    max-height: 50%;
}

h1{
    color: white;
}

p{
    color: white;
}